*.obj
*.pch
*.pdb
*.idb
*.htm
/bin/
/debug/
/release/
/ipch/
*.suo
*.filters
*.filters
*.filters
*.sdf
*.filters
*.sdf
*.sdf
*ncb

/ClientTest/
/WorkerTest/
/JoberserverTest/
/example_transPic_client/
/example_transPic_worker/
*.user